.problem {
  .talk {
    font-weight: 300;
    color: #a8a3a3;
    margin-top: 30px;
    margin-bottom: 30px;

    em {
      font-weight: 700;
      font-style: normal;
      color: #fff;
    }
  }

  .btn_group {
    margin-top: 55px;
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      padding: 9px 16px;
      border-radius: 5px;

      &:first-child {
        color: #000;
        background-color: #7dba7f;
      }

      &:last-child {
        --color: #cde5ce;
        color: var(--color);
        border: 1px solid var(--color);
      }
    }
  }
}
