@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");

.math {
  font-family: "Noto Sans Math", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 28px;

  sup {
    position: relative;
    top: -5px;
  }
}
